<header class="navbar p-4 shadow-sm">
  <div class="navbar-content">
    <img
      src="assets/images/logos/logos=logo-Violeta.svg"
      alt="Logo violeta"
      class="navbar-logo"
    />

    <div class="navbar-buttons">
      <p-button
        routerLink="/crearEncuesta"
        label="+ Crear nueva encuesta"
        styleClass="acento"
      ></p-button>
    </div>
  </div>
</header>

<section class="content">
  <div class="encuesta-container">
    <h1 class="titulo-principal">Links de tu encuesta</h1>

    <!-- BLOQUE: Link de participación -->
    <div class="bloque-link">
      <h2>Link de participación</h2>
      <p>
        Usá este link para compartir tu encuesta y que otras personas puedan
        rellenarla.
      </p>

      <div class="link-card">
        <input type="text" readonly [value]="obtenerUrlParticipacion()" />
        <div class="acciones">
          <p-button
            icon="pi pi-copy"
            label="Copiar"
            styleClass="copiar primario"
            (onClick)="copiarTexto(obtenerUrlParticipacion())"
          ></p-button>
          <p-button
            icon="pi pi-qrcode"
            styleClass="neutral-blanco-borde-negro"
            text
            (onClick)="mostrarQRParticipacion()"
          ></p-button>
        </div>
      </div>

      <div class="opciones-link">
        <p-checkbox
          binary="true"
          inputId="check1"
          [(ngModel)]="acortarParticipacion"
          styleClass="p-checkbox-box"
        ></p-checkbox>
        <label for="check1">Acortar URL</label>
      </div>

      <div class="alerta">
        <i class="pi pi-exclamation-triangle"></i>
        <span
          >No olvides <strong>copiar</strong> y <strong>guardar</strong> este
          link para poder compartirlo todas las veces que necesites.</span
        >
      </div>
    </div>

    <!-- BLOQUE: Link de consulta -->
    <div class="bloque-link">
      <h2>Link de consulta</h2>
      <p>Usá este link para consultar los resultados de tu encuesta.</p>

      <div class="link-card">
        <input type="text" readonly [value]="obtenerUrlConsulta()" />
        <div class="acciones">
          <p-button
            icon="pi pi-copy"
            label="Copiar"
            styleClass="copiar primario"
            (onClick)="copiarTexto(obtenerUrlConsulta())"
          ></p-button>
          <p-button
            icon="pi pi-qrcode"
            styleClass="neutral-blanco-borde-negro"
            text
            (onClick)="mostrarQRConsulta()"
          ></p-button>
        </div>
      </div>

      <div class="opciones-link">
        <p-checkbox
          binary="true"
          inputId="check2"
          [(ngModel)]="acortarConsulta"
        ></p-checkbox>
        <label for="check2">Acortar URL</label>
      </div>

      <div class="alerta">
        <i class="pi pi-exclamation-triangle"></i>
        <span
          >No olvides <strong>copiar</strong> y <strong>guardar</strong> este
          link para poder acceder a los resultados todas las veces que
          necesites.</span
        >
      </div>
    </div>
  </div>
</section>


<!-- Modal QR -->
<app-qrdialog
  [mostrar]="mostrarQR"
  [qrUrl]="qrUrl"
  [tipoQR]="tipoQR"
  (cerrar)="cerrarQR()"
></app-qrdialog>

<!--FOOTER-->
<footer class="footer-enlaces">
  <p class="copyright">
    © Qüesti | Todos los derechos reservados <br />
    Desarrollado en<img src="/assets/icons/argentina24.png" alt="IconoAR" />para
    el 🌎
  </p>
</footer>
