.wrapper {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: 25vh 0 auto 16vh;
}

.wave-background-top {
  position: relative;
  width: 100%;

  background-image: url("/assets/images/home/ondas-home.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: -30px 0 0;
  z-index: -1;
}

.container {
  max-width: 800px;
}

img.logo-cuesti-celeste {
  width: 20%;
  height: 80px;
  position: absolute;
  top: 50px;
  left: 20px;
  z-index: 1;
}

.welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-left: 60px;
}

.welcome-text {
  flex: 1;
  text-align: left;
  margin-left: 60px;
  padding-right: 30px;
}

.welcome-text h1 {
  font-family: "Indie Flower", cursive;
  font-size: 3.5rem;
  margin: 0 0 10px 0;
}

.welcome-text h2 {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0 0 20px 0;
  color: #010101;
}

.welcome-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-right: 3rem;
}

.footer {
  position: relative;
  width: 100%;
  height: 250px;
  background-image: url("/assets/images/home/Vector-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 30px;
  z-index: 1;
}

p.copyright {
  text-align: center;
  color: #555555;
  font-size: 0.9rem;
  line-height: 1.4;
  margin: 0;
}

@media (max-width: 480px) {
  .wrapper {
    grid-template-rows: auto auto auto auto;
  }

  .container {
    padding: 20px;
  }

  img.logo-cuesti-celeste {
    width: 40%;
    height: auto;
    top: 20px;
    left: 10px;
  }

  .welcome {
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    gap: 30px;
  }

  .welcome-text {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .welcome-text h1 {
    font-size: 2.2rem;
  }

  .welcome-text h2 {
    font-size: 1rem;
    line-height: 1.5;
  }

  .welcome-text button {
    width: 100%;
  }

  .welcome-image {
    margin: 0;
    padding: 1rem;
    width: 100%;
  }

  .welcome-image dotlottie-player {
    width: 100%;
    height: auto;
  }

  .footer {
    background-position: bottom;
    background-size: cover;
    padding-bottom: 20px;
    height: 180px;
  }

  p.copyright {
    font-size: 0.8rem;
    padding: 0 10px;
  }

  p.copyright img {
    width: 16px;
    height: auto;
    vertical-align: middle;
  }
}
