<!-- NAVBAR -->
<app-navbar
  [modoVistaPrevia]="modoVistaPrevia"
  (vistaPreviaClick)="activarVistaPrevia()"
  (salirClick)="salirVistaPrevia()"
  (finalizarClick)="finalizarEncuesta()"
></app-navbar>

<!-- MODO EDICIÓN -->
<div
  *ngIf="!modoVistaPrevia"
  [formGroup]="encuestaForm"
  class="encuesta-container"
>
  <!-- TÍTULO -->
  <div class="titulo-container">
    <ng-container *ngIf="tituloEditando; else verTitulo">
      <p-floatlabel>
        <input
          id="input-nombre"
          pInputText
          formControlName="nombre"
          autocomplete="off"
        />
        <label for="input-nombre">Escribir título</label>
      </p-floatlabel>
      <p-button
        label="Listo"
        icon="pi pi-check"
        styleClass="neutral"
        (click)="guardarTitulo()"
        [disabled]="tituloControl.invalid"
      ></p-button>
    </ng-container>

    <ng-template #verTitulo>
      <h2 (click)="editarTitulo()" class="titulo-texto">
        {{ tituloControl.value || "Haz clic para agregar un título" }}
      </h2>
      <button
        pButton
        icon="pi pi-pencil"
        class="p-button-rounded p-button-text"
        (click)="editarTitulo()"
      ></button>
    </ng-template>
  </div>

  <!-- PREGUNTAS -->
  <div
    *ngFor="let pregunta of preguntasFormGroups; let i = index"
    [formGroup]="pregunta"
    class="pregunta-item"
  >
    <ng-container *ngIf="pregunta.get('editando')?.value; else preguntaVista">
      <input
        type="text"
        pInputText
        formControlName="texto"
        placeholder="Escribe tu pregunta..."
        class="input-pregunta"
      />
      <p-select
        [options]="tiposRespuesta"
        formControlName="tipo"
        class="dropdown-estilizado p-select"
        inputId="tipo-pregunta-{{ i }}"
        aria-label="Tipo de respuesta"
        [autocapitalize]="true"
      ></p-select>
      <br />
      <!-- <div class="flex items-center gap-2 obligatorio-switch">
        <p-toggleSwitch
          id="obligatoria-switch"
          formControlName="obligatoria"
          styleClass="ml-2"
        ></p-toggleSwitch>
        <label for="obligatoria-switch" class="mr-2">Obligatorio</label>
      </div> -->

      <!-- Opciones -->
      <div
        *ngIf="
          pregunta.get('tipo')?.value === 'OPCION_MULTIPLE_SELECCION_SIMPLE' ||
          pregunta.get('tipo')?.value === 'OPCION_MULTIPLE_SELECCION_MULTIPLE'
        "
        formArrayName="opciones"
        class="mt-4"
        aria-label="Opciones de respuesta"
      >
        <div
          *ngFor="
            let opcionCtrl of getOpciones(pregunta).controls;
            let j = index
          "
          class="flex items-center gap-2 mb-2"
        >
          <input
            type="text"
            [formControlName]="j"
            pInputText
            [attr.aria-label]="'Opción ' + (j + 1)"
            placeholder="Opción {{ j + 1 }}"
            class="input-opcion"
          />
          <button
            *ngIf="getOpciones(pregunta).length > 1"
            pButton
            type="button"
            icon="pi pi-trash"
            class="p-button-rounded p-button-text p-button-danger"
            (click)="eliminarOpcion(pregunta, j)"
            [attr.aria-label]="'Eliminar opción ' + (j + 1)"
          ></button>
        </div>
        <button
          pButton
          type="button"
          (click)="anadirOpcion(pregunta)"
          label="+ Añadir opción"
          class="p-button primario mt-2"
          aria-label="Añadir opción"
        ></button>
      </div>

      <div class="acciones">
        <p-button
          icon="pi pi-times"
          label="Cancelar"
          styleClass="neutral-blanco-borde-negro mr-2 text-12"
          (click)="cancelarEdicion(pregunta)"
        ></p-button>
        <p-button
          icon="pi pi-check"
          label="Listo"
          styleClass="primario text-12"
          (click)="guardarPregunta(pregunta)"
        ></p-button>
      </div>
    </ng-container>

    <!-- Vista reducida -->
    <ng-template #preguntaVista>
      <div class="pregunta-vista">
        <span>
          {{ pregunta.get("texto")?.value }} ({{
            getPresentacionTipo(pregunta.get("tipo")?.value)
          }})
        </span>
        <div class="acciones">
          <p-button
            label="Editar"
            icon="pi pi-pencil"
            styleClass="primario text-12"
            (click)="editarPregunta(pregunta)"
          ></p-button>
          <p-button
            label="Borrar"
            icon="pi pi-trash"
            styleClass="primario text-12"
            (click)="eliminarPregunta(i)"
          ></p-button>
        </div>
      </div>
    </ng-template>
  </div>

  <!-- BOTONES -->
  <div class="botones-añadir-eliminar">
    <div class="boton-centro">
      <button
        pButton
        type="button"
        (click)="anadirPregunta()"
        label="+ Añadir pregunta"
        class="p-button primario"
      ></button>
    </div>
    <div class="boton-eliminar">
      <p-button
        label="Eliminar"
        icon="pi pi-trash"
        styleClass="neutral-blanco-borde-negro font-semibold px-4 py-2 md"
        (click)="confirmClearEncuesta($event)"
      ></p-button>
    </div>
  </div>
</div>

<!-- MODO VISTA PREVIA -->
<div *ngIf="modoVistaPrevia" class="encuesta-container">
  <h2 class="titulo-texto">{{ tituloControl.value }}</h2>

  <div
    *ngFor="let pregunta of preguntasFormGroups; let i = index"
    class="pregunta-item"
  >
    <p>
      <strong>{{ i + 1 }}. {{ pregunta.get("texto")?.value }}</strong>
    </p>

    <!-- Abierta -->
    <input
      *ngIf="pregunta.get('tipo')?.value === 'ABIERTA'"
      type="text"
      pInputText
      disabled
      placeholder="Respuesta..."
    />

    <!-- Opción simple -->
    <div
      *ngIf="pregunta.get('tipo')?.value === 'OPCION_MULTIPLE_SELECCION_SIMPLE'"
    >
      <div
        *ngFor="let opcion of getOpciones(pregunta).controls; let j = index"
        class="flex items-center my-1"
      >
        <span class="pi pi-circle-off p-disabled"></span>
        <label class="ml-2">{{ opcion.value }}</label>
      </div>
    </div>

    <!-- Opción múltiple -->
    <div
      *ngIf="
        pregunta.get('tipo')?.value === 'OPCION_MULTIPLE_SELECCION_MULTIPLE'
      "
    >
      <div
        *ngFor="let opcion of getOpciones(pregunta).controls; let j = index"
        class="flex items-center gap-2 my-1"
      >
        <span class="pi pi-stop p-component p-disabled"></span>
        <label class="ml-2">{{ opcion.value }}</label>
      </div>
    </div>
  </div>
  <p-button styleClass="acento ">Enviar</p-button>
</div>
