<main class="p-5">
    <h2>Crear Nueva Encuesta</h2>
    <app-add-question-btn (triggerOpenModal)="this.triggerOpenModal = true" ></app-add-question-btn>
<form >



<div class="button-group mt-4 " >
    <button type="submit" class="btn btn-primary text-capitalize" ><i class="bi bi-file-earmark-plus"></i>crear encuesta</button>
    <button type="reset" class="btn btn-danger ms-1 text-capitalize" > <i class="bi bi-backspace"></i>reset</button>
    <a   routerLink="/" class="btn btn-success ms-1 text-capitalize" ><i class="bi bi-arrow-bar-left"></i>home</a>
</div> 
</form>



<app-add-question-modal (resetOpenModal)="this.triggerOpenModal = false" [openModal]="triggerOpenModal"></app-add-question-modal>
</main>