<header class="navbar p-4 shadow-sm">
    <div class="navbar-content">
        <img src="assets/images/logos/logos=logo-Violeta.svg" alt="Logo violeta" class="navbar-logo">

        <div class="navbar-buttons">
            <!-- Botón acento: Violeta -->
            <p-button label="Regresar" icon="pi pi-angle-left" styleClass="acento ml-4 px-4"></p-button>
        </div>
    </div>
</header>

<section class="contenedor">
    <div class="contenido">
        <p>Ups.... Lo sentimos ha ocurrido un error.</p>
        <img src="/assets/images/logos/logo-simple-violeta.svg" alt="Logo simple" class="logo-simple" />
        <h1>404</h1>
    </div>
    <div class="boton-regresar">
        <p-button label="Regresar" icon="pi pi-angle-left" styleClass="boton-centro acento"></p-button>
    </div>
</section>

<footer class="footer-error">
  <p class="copyright">
    © Qüesti | Todos los derechos reservados <br />
    Desarrollado en<img src="/assets/icons/argentina24.png" alt="IconoAR">para el 🌎
  </p>
</footer>