<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      <i class="bi bi-question-square"></i> Nueva pregunta
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss()"
    ></button>
  </div>
  <form [formGroup]="addQuestionForm" class="modal-body">
    <div class="mb-3">
      <label for="">Ingrese pregunta</label>
      <input
        formControlName="question"
        name="question"
        class="form-control"
        type="text"
        name=""
        id=""
      />
    </div>
    <div class="mb-3">
      <select
        class="form-select"
        formControlName="answer-type"
        name="answer-type"
        aria-label="Default select example"
      >
        <option value="0" selected>respuesta abierta</option>
        <option value="1">respuesta cerrada</option>
      </select>
    </div>

    @if(addQuestionForm.get("answer-type")?.value === "1"){
    <div class="mb-3">
      <label for="">Seleccion simple o seleccion multiple ? </label>
      <br />
      <div class="form-check form-check form-check-inline">
        <label class="form-check-label" for="simple">Simple</label>
        <input
          formControlName="selection-type"
          class="form-check-input"
          type="radio"
          name="selection-type"
          id="simple"
          value="simple"
        />
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label" for="multiple">Multiple</label>
        <input
          class="form-check-input"
          formControlName="selection-type"
          type="radio"
          name="selection-type"
          id="multiple"
          value="multiple"
        />
      </div>
    </div>
    } @if( !!addQuestionForm.get("selection-type")?.value){
    <div class="mb-3 d-flex justify-content-between gap-1 align-items-end">
      <label for="" class="flex-grow-1"
        >Agregar opcion
        <input class="form-control" #optionsInput type="text" />
      </label>

      <button
    
        class="btn btn-outline-primary"
        (click)="handleAddOption(optionsInput)"
        type="button"
      >
        <i class="bi bi-plus-square-dotted"></i>
      </button>
    </div>
    <div class="mb-3" formArrayName="options">
      <fieldset>
        <legend class="text-capitalize">opciones respuesta</legend>
        @for (option of addQuestionForm.get("options")?.value ; track $index) {
        <div class="mb-3">
          <div class="row">
            <div class="col-10">
              <input class="form-control" type="text" [placeholder]="option" />
            </div>
            @if($index !== 0){
            <div class="col-auto">
              <button class="btn btn-outline-danger" (click)="handleRemoveFormArray($index)">
                <i class="bi bi-trash2"></i>
              </button>
            </div>
            }
          </div>
        </div>
        }
      </fieldset>
    </div>

    }
  </form>
  {{ surveyState }}
</ng-template>
