/* Estructura principal */
.navbar {
  top: 0;
  background-color: #1e1e1e;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}

/* Logo */
.navbar-logo {
  height: 60px;
}

/* Botones alineados */
.navbar-buttons {
  display: flex;
  align-items: center;
}

.respuestas-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fffcfc;
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  font-family: montserrat, sans-serif;
}

.titulo-respuestas {
  text-align: center;
  margin-bottom: 2rem;
  color: #000;
}

.titulo-respuestas h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #000;
}

.pregunta-respuesta {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  color: #000;
  font-family: montserrat, sans-serif;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
}

.cabecera-pregunta {
  margin-bottom: 1rem;
}

.numero-pregunta {
  font-weight: 600;
  color: #a663cc;
  margin-bottom: 0.25rem;
  display: block;
}

.texto-pregunta {
  font-size: 1.25rem;
  color: #000;
  margin: 0;
}

.respuesta-abierta {
  background-color: #f9f9f9;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  color: #000;
  font-style: normal;
}

.respuesta-multiple {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  color: #000;
  background-color: #fff;
}

.chip {
  background-color: #b9faf8;
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 999px;
  font-size: 0.95rem;
}

.respuesta-vf {
  font-weight: 600;
  font-size: 0.95rem;
  color: #000;
}

.icono-vf.verdadero {
  color: #28a745;
}

.icono-vf.falso {
  color: #dc3545;
}

/* Estilo general para el textarea de PrimeNG */
textarea[pInputTextarea] {
  background: #fff;
  color: #000;
  border: 1px solid #000;
  padding: 8px 12px;
  border-radius: 8px;

  font-size: 1rem;
  resize: vertical;
  transition: border-color 0.2s, box-shadow 0.2s;
  width: 90%;
  font-family: montserrat, sans-serif;
}

textarea[pInputTextarea]:focus {
  background: #fff;
  color: #000;
  border-color: #b9faf8;
  outline: none;
}

/* Responsive */
@media (max-width: 768px) {
  .respuesta-multiple {
    flex-direction: column;
  }
}