<header class="navbar p-4 shadow-sm">
  <div class="navbar-content">
    <img src="assets/images/logos/logos=logo-Violeta.svg" alt="Logo violeta" class="navbar-logo" />

    <div class="navbar-buttons">
        <p-button label="Salir" routerLink="home" styleClass="neutral-blanco-borde-negro mr-4"></p-button>
        <p-button label="+ Crear encuesta" routerLink="/crearEncuesta" styleClass="acento"></p-button>
    </div>
  </div>
</header>

<section class="contenedor">
    <div class="contenido">
        <h2>¡Gracias por responder la encuesta!</h2>
        <dotlottie-player
          src="https://lottie.host/8be736c2-6c42-484e-9b5a-0de10087b50c/wqkWj268i9.lottie"
          background="transparent"
          speed="1"
          style="width: 330px; height: 330px; margin: 0 auto;"
          loop
          autoplay>
        </dotlottie-player>
        <h3>Te invitamos a crear tu propia encuesta</h3>
    </div>
</section>

<footer class="footer-error">
  <p class="copyright">
    © Qüesti | Todos los derechos reservados <br />
    Desarrollado en<img src="/assets/icons/argentina24.png" alt="IconoAR">para el 🌎
  </p>
</footer>