<header class="navbar p-4 shadow-sm">
  <div class="navbar-content">
    <img src="assets/images/logos/logos=logo-Violeta.svg" alt="Logo violeta" class="navbar-logo" />

    <div class="navbar-buttons">
        <p-button label="+ Crear encuesta" routerLink="/crearEncuesta" styleClass="acento"></p-button>
    </div>
  </div>
</header>

<section class="contenedor">
    <div class="contenido">
        <h3>¡Gracias por responder la encuesta!</h3>
        <img src="/assets/images/logos/logo-simple-violeta.svg" alt="Logo simple" class="logo-simple" />
        <h4>Te invitamos a crear tu propia encuesta</h4>
    </div>
    <div class="boton-crear-salir">
        <p-button label="+ Crear encuesta" routerLink="/crearEncuesta" styleClass="boton-centro acento"></p-button>
        <h4> o </h4>
        <p-button label="Salir" routerLink="home" styleClass="boton-centro primario"></p-button>
    </div>
</section>

<footer class="footer-error">
  <p class="copyright">
    © Qüesti | Todos los derechos reservados <br />
    Desarrollado en<img src="/assets/icons/argentina24.png" alt="IconoAR">para el 🌎
  </p>
</footer>