@import "primeflex/primeflex.css";
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@400;500;700&display=swap");

:root {
  --color-primario: #010101;
  --color-acento: #a663cc;
  --color-secundario: #b9faf8;
  --color-fondo-claro: #fffcfc;
  --color-blanco: #fff;
  --color-gris: #555555;
  --color-gris-claro: #c5c4c4;
  --color-negro: #000;
}

/* Reset básico */
body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #efefef;
  color: #010101;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

/* Estilo para centrar botones con iconos */
.boton-centro {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 0.5rem 1.5rem;
  gap: 0.5rem !important; /* espacio entre ícono y texto */
  font-weight: 500;
  font-size: 1rem;
}

/* Estilos bottones */
.p-button.acento {
  background-color: var(--color-acento) !important;
  color: var(--color-negro) !important;
  font-weight: 700 !important;
  border: none !important;
}

.p-button.acento:hover {
  background-color: #b9faf8 !important;
  color: var(--color-negro) !important;
  font-weight: bold !important;
  border: none !important;
}

.p-button.secundario {
  background-color: #b9faf8 !important;
  color: var(--color-negro) !important;
  border: none !important;
}

.p-button.secundario:hover {
  background-color: #d5a2f3 !important;
  color: var(--color-negro) !important;
  border: none !important;
}

.p-button.primario {
  background-color: var(--color-primario) !important;
  color: #ffffff !important;
  border: none !important;
}

.p-button.primario:hover {
  background-color: #a663cc !important;
  color: #ffffff !important;
  border: none !important;
}

.p-button.neutral {
  background-color: #555555 !important;
  color: #ffffff !important;
  border: none !important;
}

.p-button.neutral-blanco-borde-negro {
  background-color: #fffcfc !important;
  color: var(--color-primario) !important;
  border: 1px solid var(--color-primario) !important;
}

.p-button.neutral:hover {
  background-color: var(--color-primario) !important;
}

.p-button.neutral-blanco-borde-negro:hover {
  background-color: #c5c4c4 !important;
  color: var(--color-primario) !important;
  border: none !important;
}

.p-toggleswitch .p-toggleswitch-slider {
  background: #b9faf8 !important; /* desactivado: color secundario */
  border-radius: 20px !important;
  transition: background 0.2s;
}
.p-toggleswitch.p-highlight .p-toggleswitch-slider {
  background: #a663cc !important; /* activado: color acento */
}
.p-toggleswitch .p-toggleswitch-slider:before,
.p-toggleswitch.p-highlight .p-toggleswitch-slider:before {
  background: #fff !important;
}

.p-dropdown-panel {
  background: #fff !important;
  color: #222 !important;
}
.p-dropdown-item {
  background: #fff !important;
  color: #222 !important;
}
.p-dropdown-item.p-highlight {
  background: #b9faf8 !important; /* color secundario */
  color: #010101 !important; /* color primario */
}

.p-confirmdialog-accept-button.confirm-btn {
  background-color: black;
  border-color: black;
}
button.p-confirmdialog-accept-button.confirm-btn:hover {
  background-color: black;
}
button.p-confirmdialog-reject-button.reject-btn {
  background-color: white;
  color: black;
  border-color: black;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
button.p-confirmdialog-reject-button.reject-btn:hover {
  background-color: rgba(69, 68, 68, 0.07);
  color: black;
  border-color: black;
}

.p-dialog-content:has(span > .confirm-delete-message),
.p-dialog-content:has(span > .confirm-save-encuesta) {
  background-color: #f1fefe;
  margin: 1rem 2rem;
  padding: 1.5rem 1rem;
  border-radius: 10px;
}
