<header class="navbar p-4 shadow-sm">
  <div class="navbar-content">
    <a routerLink="/">
      <img
        src="assets/images/logos/logos=logo-Violeta.svg"
        alt="Logo violeta"
        class="navbar-logo"
      />
    </a>

    <div class="navbar-buttons">
      <p-button
        label="Salir"
        routerLink="/home"
        styleClass="neutral-blanco-borde-negro mr-4"
      ></p-button>
      <p-button
        label="+ Crear nueva encuesta"
        routerLink="/crearEncuesta"
        styleClass="acento"
      ></p-button>
    </div>
  </div>
</header>

@if(error){
<div class="container">
  <p-message severity="warn">{{ error }}</p-message>
</div>
} @else {
<div class="resultados">
  <h1 *ngIf="nombre">{{ nombre }}</h1>
  <div class="card">
    <p-tabs value="0">
      <p-tablist class="tabs-bar">
        <p-tab value="0">Tablas</p-tab>
        <p-tab value="1">Gráficos</p-tab>
        <button class="p-button-primario" (click)="descargarCSV()">
          <img
            src="../../../assets/icons/csv.svg"
            alt="Descargar"
            width="40"
            height="40"
          />
        </button>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          <app-tabla-resultados
            [preguntas]="preguntas"
            [respuestas]="respuestas"
          ></app-tabla-resultados>
        </p-tabpanel>
        <p-tabpanel value="1">
          <app-graficos-resultados
            class="full-flex-width"
            [preguntas]="preguntas"
            [respuestas]="respuestas"
          ></app-graficos-resultados>
        </p-tabpanel>
      </p-tabpanels>
      <div *ngIf="respuestas?.length === 0" class="p-4 text-center">
        <p-message
          severity="info"
          text="Esta encuesta no tiene resultados aún."
        ></p-message>
      </div>
    </p-tabs>
  </div>
</div>

}

<!--FOOTER-->
<footer class="footer-enlaces">
  <p class="copyright">
    © Qüesti | Todos los derechos reservados <br />
    Desarrollado en<img src="/assets/icons/argentina24.png" alt="IconoAR" />para
    el 🌎
  </p>
</footer>
